@model TalentBay1.ViewModels.EnrolledCoursesViewModel
@using TalentBay1.Controllers
@{
    ViewData["Title"] = "EnrolledCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Your Enrolled Courses</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.Courses)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="@Url.Content(item.ImageURL)" class="card-img-top" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text">Category: @item.Category</p>
                        <p class="card-text">Enrollment Count: @item.EnrollmentCount</p>
                        <a asp-action="Details" asp-route-id="@item.CourseID" class="btn btn-info">View Details</a>
                        <a asp-action="Assignments" asp-route-id="@item.CourseID" class="btn btn-primary">Show Assignments</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
