@model Course
@using Microsoft.AspNetCore.Identity
@using TalentBay1.Models

@{
    ViewData["Title"] = "CourseDetails";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstructorID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollmentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollmentCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="mt-3">
        <h4>Manage Enrollments</h4>
        <p>Enroll or remove users from this course:</p>
        <form asp-controller="User" asp-action="EnrollUser" method="post">
            <input type="hidden" name="courseId" value="@((ViewData["Course"] as Course).CourseID)" />
            <select name="userId" class="form-control">
                @foreach (var enrollment in ViewData["Enrollments"] as List<Enrollment>)
                {
                    <option value="@enrollment.UserId">@enrollment.User.Email</option>
                }
            </select>
            <button type="submit" class="btn btn-primary mt-2">Enroll User</button>
        </form>
        <form asp-controller="User" asp-action="RemoveEnrollment" method="post">
            <input type="hidden" name="courseId" value="@((ViewData["Course"] as Course).CourseID)" />
            <select name="userId" class="form-control">
                @foreach (var enrollment in ViewData["Enrollments"] as List<Enrollment>)
                {
                    <option value="@enrollment.UserId">@enrollment.User.Email</option>
                }
            </select>
            <button type="submit" class="btn btn-danger mt-2">Remove Enrollment</button>
        </form>
    </div>
}

<div>
    <a asp-action="CourseEdit" asp-route-id="@Model?.CourseID">Edit</a> |
    <a asp-action="CourseIndex">Back to List</a>
</div>
