@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Index";
}

<h1>User List</h1>

<p>
    <a asp-action="UserCreate">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <a asp-action="UserEdit" asp-route-id="@user.Id">@user.Email</a>
                </td>
                <td>
                    <a asp-action="UserEdit" asp-route-id="@user.Id">Edit</a> |
                    <a asp-action="UserDetails" asp-route-id="@user.Id">Details</a> |
                    <a asp-action="UserDelete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
